html body {
    margin: 0;
    padding: 0;
    font-size: large;
}

canvas {
    margin: 0.5rem;
    border: 2px solid black;
}

div#control {
    width: 50%;
    height: auto;

    border: 2px solid black;
    border-radius: 0.5rem;

    padding: 0.3rem;
    margin: 0.5rem;

    form#row-column-input {
        div {
            display: flex;
            label {
                width: 5rem;
            }
        }
        margin: 1rem;
    }

    div#generate-grid-wrapper {
        width: auto;
        margin: 0;
        padding: 1rem;

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;

        button {
            width: 8rem;
            height: 2rem;
            text-align: center;
            font-size: large;
        }
    }

    div#draw-mode-wrapper {
        form#draw-mode {
            margin: 1rem;
            display: flex;

            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1rem;

            input {
                width: 6rem;
                height: 2rem;
                text-align: center;
                margin: auto;
                font-size: large;
            }
        }
        p {
            display: flex;
            justify-content: center;
        }
    }

    div#pathfind {
        display: flex;
        button {
            width: 6rem;
            height: 2rem;
            text-align: center;
            margin: auto;
            font-size: large;
        }
    }

    div#path-result {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
}
